/**
    Custom css for RichTextLite Editor
 */

 @font-face {
    font-family: script;
    src: url('/static/friendlist-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
 }

/**
 * Lite
 */
div.richText--lite {
    & div[data-testid="text-block"] {
        padding-block: 0.4375rem !important;
    }

    & div.pt-editable > :last-child,
    & div.pt-editable > :first-child {
        padding-block: 0.4375rem !important;
    }

    & div[data-testid="pt-editor"] {
        height: unset !important;
        min-height: 7em !important;
    }

    /*Disable expand button*/

    & div[data-testid="pt-editor__toolbar-card"] > div > div:last-child {
        display: none !important;
    }

    &.richText--with_icon {
        & legend {
            transform: translateX(27px);
        }

        & i {
            position: absolute;
            left: 0;
            transform: translateY(-1px);
        }
    }
}


/**
 * Blog
 */
div.richText--blog {

    & div[data-testid="pt-editor"] {
        height: unset !important;
        min-height: 35em !important;
    }
}

/**
 * Product
 */
div.richText--product {

    & div[data-testid="pt-editor"] {
        height: unset !important;
        min-height: 10em !important;
    }
}

/**
 * Collection
 */
div.richText--collection {

    & div[data-testid="pt-editor"] {
        height: unset !important;
        min-height: 10em !important;
    }
}

/**
 * Adding a little more margin to following paragraphs
 */
.pt-text-block + .pt-text-block:not(.pt-list-item-bullet) {
    margin-top: 0.7em;
}

.pt-text-block-style-medium + .pt-text-block-style-medium {
    margin-top: 0.2em;
}